*{
    padding: 0;
    margin:  0;
}
body{
    background-color: rgb(240, 122, 75);
}
.card-outer{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding-top:180px;
   
}.card-block{
    height: 400px;
    position: relative;
    border: 3px solid rgb(73, 68, 68);
    border-radius: 20px;
    transition: all 1000ms ease;
    transform-style: preserve-3d;
    transform: perspective(600px);
}

.card-outer:hover .card-block {
    transform: perspective(1000px) rotateY(260deg);
}
.card-block > div {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.font{
    background-color: rgb(240, 240, 88);
}
.back{
    background-color: lightblue;
    transform: rotateY(180deg);
}
h1{
    padding: 20px;
}
.content{
    padding: 100px 25px;
    text-align: center;
    transform: translateZ(80px);
}